<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Group</th>
      <th>Sensei</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.tel %></td>
        <td><%= person.group %></td>
        <td><%= person.sensei %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Room</th>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<h1>Listing Groups</h1>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.room %></td>
        <td><%= group.task %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
      </tr>
      <% group.people.each do |people| %>
         <tr>
           <td><%= people.name %></td>
         </tr>
       <% end %>
    <% end %>
  </tbody>
</table>
<br>


<%= link_to 'New Group ', new_group_path %>
